.Rproj.user
.Rhistory
.RData
.Ruserdata
Slides/ulloaJSM18-concordance.tex
Slides/ulloaJSM18.log
Slides/ulloaJSM18.nav
Slides/ulloaJSM18.snm
Slides/ulloaJSM18.synctex.gz
Slides/ulloaJSM18.tex
Slides/ulloaJSM18.toc
Slides/ulloaJSM18.vrb
Slides/cache